@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
}

.navbar-brand,
.nav-link,
.my-form,
.login-form {
    font-family: Raleway, sans-serif;
}

.navbar-collapse {
    text-align: right;
}

.main h3 {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.main .input-side input {
    margin-top: 20px;
}

.main .input-side h4 {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.error {
    color: red;
}

.submit {
    margin: 15px auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.main heading {
    text-align: center;
}

.main label {
    margin-bottom: 0;
}

.copy {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 auto;
}

.sign-txt {
    text-align: center;
}

.main .sign-txt h5 {
    display: inline-block;
}

.sign-txt .copy {
    float: right;
}

@media (min-width:320px) and (max-width:767px) {
    .main .col-lg-6:nth-child(2) {
        margin: 15px 0;
    }
}